body{
            
    background-image: linear-gradient(rgba(141, 87, 37, 0.671), #6e2f2fa8), url(borderline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}

h1{
    text-align: center;
    font-size: 120px;
    color: lightblue;
    margin-top: 16%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    text-align: center;
    font-size: 80px;
    color: lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p:hover {
    background-color: maroon;
    cursor: pointer;
}

